.contact-wrapper {
  margin-top: -5px;
  background-color: $back-ground-2;
  overflow: hidden;
  i {
    color: white;
    font-size: $font-size-xlarge;
    @media (max-width: $desktop-breakpoint-phone) {
      font-size: $font-size-xlarge;
    }
  }
}

.icon-wrapper {
  background-color: rgb(14, 13, 13);
  padding: 0.5rem 1rem;
  &:hover {
    transition: all 1s ease;
    cursor: pointer;
    i {
      transition: all 1s ease;
      transform: rotateY(360deg);
    }
  }
}

.fa-angle-double-right{
    transform: rotate(270deg);
}