.home-wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: $desktop-breakpoint-phone) {
    display: block;
  }
}

.media-wrapper {
  z-index: 3;
  position: absolute;
  top: 25%;
  right: 3%;

  @media (max-width: $desktop-breakpoint-phone) {
    top: 8rem;
    right: 6%;
  }

  i {
    margin-top: 2rem;
    color: $text-color-2;
    font-size: $font-size-title;
    transition: all 0.5s ease;
    @media (max-width: $desktop-breakpoint-phone) {
      font-size: $font-size-xlarge;
    }

    &:hover {
      color: $home-color;
      transform: scale(1.2) translateX(-5px);
    }
  }
}
